.product {
  &__title {
    padding-top: 56px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  &__row {
    padding-top: 32px;
    display: flex;
    gap: 32px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #020202;
    padding: 16px 0 0 16px;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    color: #898989;
    padding: 8px 0 0 16px;
  }

  &__prices {
    display: flex;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    color: #020202;
    padding: 8px 0 30px 16px;
  }

  &__old-price {
    position: absolute;
    font-size: 16px;
    font-weight: 500px;
    color: #898989;
    margin-top: -45px;
    margin-left: 170px;
  }

  &__el {
    position: relative;
    background-color: #f4f5f7;
  }

  &__teg {
    right: 24px;
    top: 24px;
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #e97171;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__teg-g {
    right: 24px;
    top: 24px;
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #2ec1ac;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__teg-price {
    color: #f4f5f7;
  }
}
