section.hero
    .container 
        .hero__arriwal 
            span.hero__suptitle New Arrival
            h1.hero__title 
                div Discover Our
                div New Collection 
            p.hero__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
            button.button-orange BUY NOW