section.product
  .container
    h4.product__title  Our Products

    .product__row
      .product__el
        img.product__img(src='../img/prod-1.png' alt='dining')
        .product__teg
          span.product__teg-price 30%
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000 
        p.product__old-price Rp 3.500.000

      .product__el
        img.product__img(src='../img/prod-2.png' alt='living')
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000
        p.product__old-price Rp 3.500.000

      .product__el
        img.product__img(src='../img/prod-3.png' alt='bedroom')
        .product__teg
          span.product__teg-price -50%
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000
        p.product__old-price Rp 3.500.000

      .product__el
        img.product__img(src='../img/prod-4.png' alt='bedroom')
        .product__teg-g
          span.product__teg-price New
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        .prices
          p.product__price Rp 2.500.000
          p.product__old-price Rp 3.500.000



    .product__row
      .product__el
        img.product__img(src='../img/prod-5.png' alt='dining')

        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000 
        p.product__old-price Rp 3.500.000
      .product__el
        img.product__img(src='../img/prod-6.png' alt='dining')
        .product__teg-g
          span.product__teg-price New
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000 
        p.product__old-price Rp 3.500.000
      .product__el
        img.product__img(src='../img/prod-7.png' alt='dining')
        .product__teg
          span.product__teg-price -50%
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000 
        p.product__old-price Rp 3.500.000
      .product__el
        img.product__img(src='../img/prod-8.png' alt='dining')
        .product__teg-g
          span.product__teg-price New
        p.product__subtitle Syltherine
        p.product__info Stylish cafe chair
        p.product__price Rp 2.500.000 
        p.product__old-price Rp 3.500.000
