section.prod-info
  .container
    .prod-info__buttons 
      button.prod-info__btn.active Descriptions
      button.prod-info__btn Additional Information
      button.prod-info__btn Reviews [5]

    #block1.block.active
      .prod-info__content
        p.prod-info__top-txt Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo speaker takes the unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the road.
        p.prod-info__txt Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences while the guitar-influenced leather strap enables easy and stylish travel.
      .prod-info__row 
        img.prod-info__img(src="../img/sofa-1.jpg" alt="sofa")
        img.prod-info__img(src="../img/sofa-2.jpg" alt="sofa")

    #block2.block
      .prod-info__content
        p.prod-info__top-txt This description outlines the basic components that make up the structure of a sofa, emphasizing its frame, upholstery, cushions, and legs.
        p.prod-info__txt A sofa, also known as a couch or settee, is a staple piece of furniture found in homes, offices, and public spaces worldwide. It typically consists of a frame with cushions that provide seating for two or more people. Sofas vary widely in design, material, size, and functionality, catering to diverse aesthetic preferences and practical needs.
      .prod-info__row 
        img.prod-info__img(src="../img/sofa-3.jpg" alt="sofa")
        img.prod-info__img(src="../img/sofa-4.jpg" alt="sofa")

    #block3.block
      .prod-info__content
        p.prod-info__txt 1) The sofa's ergonomic design and plush cushions provide exceptional comfort and support, making it ideal for extended lounging sessions.
        p.prod-info__txt 2) Crafted from premium materials, this sofa combines durability with a luxurious aesthetic, ensuring both style and longevity.
        p.prod-info__txt 3) Its versatile modular configuration allows for easy customization to fit various living spaces, catering to diverse interior design preferences.
        p.prod-info__txt 4) With its contemporary silhouette and timeless appeal, this sofa effortlessly enhances any room's decor, promising sophistication and charm.
        p.prod-info__txt 5) The sofa's innovative reclining mechanism and adjustable headrests offer unparalleled relaxation, perfect for unwinding after a long day.
      .prod-info__row 
      .prod-info__row 
        img.prod-info__img(src="../img/sofa-6.jpg" alt="sofa")
        img.prod-info__img(src="../img/sofa-5.jpg" alt="sofa")

script(src="../js/prod-info.js")