section.browse-range 
    .container
      h4.range__title  Browse The Range
      p.range__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
      .range__row
         .range__column
            img.range__img(src='../img/range-1.png', alt='dining')
            p.range__subtitle Dining
         .range__column
            img.range__img(src='../img/range-2.png', alt='living')
            p.range__subtitle Living
         .range__column
            img.range__img(src='../img/range-3.png', alt='bedroom')
            p.range__subtitle Bedroom
            