section.shop-products 
    .container
        .shop-products__row 
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug
            include ../components/product.pug