section.advantages
    .container
        .advantages__row
            .advantages__column 
                img.advantages__icon(src="../../img/cup.svg")
                .advantages__content
                    h3.advantages__title High Quality
                    span.advantages__subtitle crafted from top materials
            .advantages__column
                img.advantages__icon(src='../../img/guarantee.svg')
                .advantages__content
                    h3.advantages__title Warranty Protection
                    span.advantages__subtitle Over 2 years
            .advantages__column
                img.advantages__icon(src='../../img/shipping.svg')
                .advantages__content
                    h3.advantages__title Free Shipping
                    span.advantages__subtitle Order over 150 $
            .advantages__column
                img.advantages__icon(src='../../img/head.svg')
                .advantages__content
                    h3.advantages__title 24 / 7 Support
                    span.advantages__subtitle Dedicated support