.cart-modal
    .cart-modal__overlay
    .cart-modal__content
        .cart-modal__top 
            h3.cart-modal__title Shopping Cart
            img.cart-modal__clear#cart-modal__clear(src="./img/cart-clear.svg" alt="")  
        .cart-modal__items#cart-modal__items
        .cart-modal__bottom
            h4.cart-modal__total Subtotal
            span.cart-modal__sum Rs. 520,000.00
        .cart-modal__actions
            a.cart-modal__link.button-outlined(href="./cart.html") Cart
            a.cart-modal__link.button-outlined(href="./checkout.html") Checkout