.definition-lists
    ul.definition-lists__buttons
        li.definition-lists__button-prev
            span.definition-lists__button-prev-text Prev
        li.definition-lists__button
            span.definition-lists__button-text.active 1
        li.definition-lists__button
            span.definition-lists__button-text 2
        li.definition-lists__button
            span.definition-lists__button-text 3
        li.definition-lists__button-next
            span.definition-lists__button-next-text Next
            