footer.footer 
  .container
    .footer__block.block  
      .footer__row.row 
        .footer__info.info 
          h4.footer__title.title Funiro. 
          span.footer__subtitle.subtitle  400 University Drive Suite 200 Coral Gables,FL 33134 USA

        menu.footer__menu
          ul.menu__list
            li.menu__item Links
            li.menu__item 
              a.nav__link(href="./index.html") Home
            li.menu__item 
              a.nav__link(href="./shop.html") Shop
            li.menu__item 
              a.nav__link(href="./blog.html") About
            li.menu__item 
              a.nav__link(href="./contact.html") Contact
          ul.menu__list
            li.menu__item Help 
            li.menu__item 
              a.nav__link(href="#")  Payment Options
            li.menu__item 
              a.nav__link(href="#") Returns
            li.menu__item 
              a.nav__link(href="#") Privacy Policies  

        .footer__email.footer-email
         p.footer-email__title Newsletter
         input.footer-email__input(placeholder="Enter Your Email Address") 

        p.subscribe SUBSCRIBE
      hr.basement__hr
      h5.basement__basement 2023 furino. All rights reverved

