.post
    img.post__image(src="./img/post-1.png" alt="Notebook")
    .post__details.post-details
        .post-details__column
            img.post-details__icon(src="./img/admin.svg", alt="Role")
            span.post-details__title Admin
        .post-details__column
            img.post-details__icon(src="./img/calendar.svg", alt="Created at")
            span.post-details__title 14 Oct 2022
        .post-details__column
            img.post-details__icon(src="./img/tag.svg", alt="Tag")
            span.post-details__title Wood
    h3.post__title Going all-in with millennial design
    p.post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer malesuada nunc. In nulla posuere sollicitudin aliquam ultrices. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Libero enim sed faucibus turpis in. Cursus mattis molestie a iaculis at erat. Nibh cras pulvinar mattis nunc sed blandit libero. Pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra et ultrices neque ornare aenean euismod elementum.
    a.post__link Read more