.product
    .product__inner 
        a.product__btn(href="#") Add to cart
        ul.product__list
            li.product__item 
                img.product__icon(src="../img/share-icon.svg" alt="share")
                a.product__link(href="#") Share
            li.product__item 
                img.product__icon(src="../img/arrows-icon.svg" alt="arrow")
                a.product__link(href="#") Compare
            li.product__item 
                img.product__icon(src="../img/heart-icon.svg" alt="heart")
                a.product__link(href="#") Like
    img.product__img(src='../img/prod-1.png' alt='dining')
    .product__teg
        span.product__teg-price 30%
    p.product__subtitle Syltherine
    p.product__info Stylish cafe chair
    .product__prices
        p.product__price Rp 2.500.000 
        p.product__old-price Rp 3.500.000
