aside.recent-posts
    .container
        .recent-posts__description
        h1.recent-posts__title Recent Posts
        .recent-posts__column
            .recent-posts__row
                img.recent-posts__img(src="../img/blocknot.png")
                .recent-posts__content
                    h3.recent-posts__subtitle Going all-in with millennial design
                    span.recent-posts__date 03 Aug 2022

        .recent-posts__column 
            .recent-posts__row
                img.recent-posts__img(src="../img/read-more.png")
                .recent-posts__content
                    h3.recent-posts__subtitle Exploring new ways of decorating
                    span.recent-posts__date 03 Aug 2022

        .recent-posts__column
            .recent-posts__row 
                img.recent-posts__img(src="../img/handmade.png")
                .recent-posts__content
                    h3.recent-posts__subtitle Handmade pieces that took time to make
                    span.recent-posts__date 03 Aug 2022

        .recent-posts__column 
            .recent-posts__row
                img.recent-posts__img(src="../img/modern.png")
                .recent-posts__content
                    h3.recent-posts__subtitle Modern home in Milan
                    span.recent-posts__date 03 Aug 2022

        .recent-posts__column
            .recent-posts__row 
                img.recent-posts__img(src="../img/colorful.png")
                .recent-posts__content
                    h3.recent-posts__subtitle Colorful office redesign
                    span.recent-posts__date 03 Aug 2022
                    