extends ../layouts/layout.pug

block content
    main(data-barba="container" data-barba-namespace="cart")
        include ../mixins/breadcrumbs.pug
        +breadcrumbs('Cart', 'Cart')
        include ../sections/cart.pug
        include ../components/advantages.pug