extends ../layouts/layout.pug

block content
    main(data-barba="container" data-barba-namespace="checkout")
        include ../mixins/breadcrumbs.pug
        +breadcrumbs('Checkout', 'Checkout')
        include ../components/advantages.pug