extends ../layouts/layout.pug

block content
    main(data-barba="container" data-barba-namespace="home")
        include ../sections/hero.pug
        include ../sections/range.pug
        include ../sections/our-products.pug
        include ../components/advantages.pug



