extends ../layouts/layout.pug

block content
    main(data-barba="container" data-barba-namespace="product")
        include ../sections/prod-info.pug
        include ../components/advantages.pug
